* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: hero-new, sans-serif;
}

footer {
  background-color: #260914;
  padding: 1rem 0;
}

.btn {
  background-color: #d9704a;
  font-weight: bold;
  border: #d9704a;
}

.btn:hover {
  background-color: #dcf0f2;
  color: #d9704a;
  border: #d9704a;
  font-weight: bold;
}

h1 {
  margin-bottom: 1.5rem;
  font-family: dunbar-low, sans-serif;
  font-weight: 600;
  color: #d9704a;
  text-align: center;
}

.c-logo {
  margin: 0;
  display: block;
}

.c-header {
  background-color: #260914;
  margin: 0;
}

.c-banner {
  text-align: center;
  background: url("../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0;
}

.c-intro {
  text-align: center;
  padding: 5rem;
}

.c-intro p {
  margin-bottom: 1rem;
  font-family: hero-new, sans-serif;
}

.c-mogelijkheden {
  background-color: #f2ad85;
  padding: 5rem;
}

.c-card {
  background-color: #f1d1bf;
  height: 100%;
}

.c-card__title {
  font-family: dunbar-low, sans-serif;
  color: #d9704a;
  font-weight: 600;
}

.c-card__text {
  font-family: hero-new, sans-serif;
}

.c-footer {
  color: white;
}

.c-footer__item {
  list-style-type: none;
}

.c-footer__item--titel {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
}

.c-blenders {
  background-color: #f2ad85;
  padding: 5rem;
}

.c-price {
  color: #d9704a;
  font-weight: 600;
}

.c-types {
  background-image: url("../img/types.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0;
}

.c-types__intro {
  text-align: center;
  padding: 5rem;
}

.c-types__intro p {
  margin-bottom: 1rem;
}

.c-types__blender1, .c-types__blender3, .c-types__blender5 {
  background-color: #f1d1bf;
  padding: 2rem 0;
}

.c-types__blender2, .c-types__blender4 {
  background-color: white;
  padding: 2rem 0;
}

.c-maps {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

td {
  padding-bottom: 0.5rem;
  text-align: left;
}

th {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
