$font-title: dunbar-low, sans-serif;
$font-text: hero-new, sans-serif;
$color-dark: #260914;
$donker-oranje: #d9704a;
$oranje: #f2ad85;
$licht-oranje: #f1d1bf;
$white: rgb(255, 255, 255);
$button: #dcf0f2;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: $font-text;
}

footer {
  background-color: $color-dark;
  padding: 1rem 0;
}

.btn {
  background-color: $donker-oranje;
  font-weight: bold;
  border: $donker-oranje;

  &:hover {
    background-color: $button;
    color: $donker-oranje;
    border: $donker-oranje;
    font-weight: bold;
  }
}

h1 {
  margin-bottom: 1.5rem;
  font-family: $font-title;
  font-weight: 600;
  color: $donker-oranje;
  text-align: center;
}

h2 {
  font-family: $font-title;
  font-weight: 500;
  color: $donker-oranje;
}

.c-logo {
  margin: 0;
  display: block;
}

.c-header {
  background-color: $color-dark;
  margin: 0;
}

.c-banner {
  text-align: center;
  background: url("../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0;
}

.c-intro {
  text-align: center;
  padding: 5rem;

  & p {
    margin-bottom: 1rem;
    font-family: $font-text;
  }
}

.c-mogelijkheden {
  background-color: $oranje;
  padding: 5rem;
}

.c-card {
  background-color: $licht-oranje;
  margin-bottom: 2rem;

  @media only screen and (min-width: 993px) {
    height: 100%;
  }

  &__title {
    font-family: $font-title;
    color: $donker-oranje;
    font-weight: 600;
  }

  &__text {
    font-family: $font-text;
  }

  &__img {
    justify-content: center;
  }
}

.c-footer {
  color: $white;

  & a {
    color: white;
    text-decoration: none;
  }

  & li {
    list-style-type: none;
  }

  &__item {
    list-style-type: none;

    &--titel {
      list-style-type: none;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.c-blenders {
  background-color: $oranje;
  padding: 5rem;
}

.c-price {
  color: $donker-oranje;
  font-weight: 600;
}

.c-types {
  background-image: url("../img/types.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0;
  text-align: justify;

  &__intro {
    text-align: center;
    padding: 5rem;
  }

  &__blender1,
  &__blender3,
  &__blender5 {
    background-color: $licht-oranje;
    padding: 2rem 0;
  }

  &__blender2,
  &__blender4 {
    background-color: $white;
    padding: 2rem 0;
  }
}

.c-maps {
  width: 100%;
  align-items: center;
  margin: 2rem 0;
}

td {
  padding-bottom: 0.5rem;
  text-align: left;
}

th {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.c-contactformulier {
  padding: 5rem;

  .btn {
    margin-top: 2rem;
  }
}

.c-form {
  padding-bottom: 1.5rem;
}

.c-open {
  background-color: $donker-oranje;
  padding: 2rem;

  &__1 {
    padding-right: 30rem;
  }
}
